
      header {
          text-align: center;
          font-size: 4em;
        padding: 10px;
       background-color: #ffee00;
          color: rgb(240, 14, 14);
        
      }

      nav {
  background-color: #000000;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: rgb(248, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
}
header{
  display: flex;
  flex-direction: column;
}

p {
  display: flex;
  text-align: justify;
  flex-direction: row;
background-color: rgb(117, 236, 117);
}

.birds
{
  width: 400px;
  height: 100px;
}

#bird2 {
  width: 1315px;
  height: 400px;
}

.heading {
  color: red;
}

.logo {
  width: 34px;
  height: 30px;
}

hr {
  border-color: red;
  }
 
  #about {
    color: red;
    text-align: justify;
  }
  
.video{
  width: 450px;
  height: 170px;
}

.info{
  font-size: x-large;
  color: rgb(16, 0, 235);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.video-link {
  flex: 1;
  text-align: center;
}

.left {
  left: calc(33.33% - 1px); /* Adjust position for left content */
}
.middle {
  left: calc(50% - 1px); /* Adjust position for middle content */
}
.right {
  right: calc(33.33% - 1px); /* Adjust position for right content */
}